* {
    font-family: system-ui;
    box-sizing: content-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* 1. Header */
.header {
    background-color: #1f2937;
    padding: 10px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

ul {
    list-style: none;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

/* 2. Welcome */



/* 3. Skills */


/* 4. Quote */


/* 5. Sign Up / CTA */


/* 6. Footer */
