* {
    box-sizing: content-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 16px;
    list-style: none;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

li a {
    color: #c4c6c6;
    text-decoration: none;
}

/* 1. Header */
.header {
    background-color: #1f2937;
    padding: 20px 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
}

/* 2. Welcome */
.content-welcome {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 200px;
    padding: 80px 120px;
    background-color: #1f2937;
}

.content-welcome-information {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.author-name {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.author-about {
    font-size: 18px;
    color: #c4c6c6;
}

.content-welcome-button {
    padding: 8px 25px;
    background-color: #3882F6;
    border: none;
    color: #F9FAF8
}

.content-welcome-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
}

/* 3. Skills */


/* 4. Quote */


/* 5. Sign Up / CTA */


/* 6. Footer */
